@charset "UTF-8";

/* 궁궐 소개*/

.background {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.changdeok {
    background-image: url(../images/changdeok.jpg);
    background-size: cover;
    background-position: center;
}

.changgyeong {
    background-image: url(../images/changgyeong.jpg);
    background-size: cover;
    background-position: center;
}

.deoksu {
    background-image: url(../images/deoksu.jpg);
    background-size: cover;
    background-position: center;
}

.gyeongbok {
    background-image: url(../images/gyeongbok_bridge.jpg);
    background-size: cover;
    background-position: center;
}

.about__container {
    width: 800px;
    height: 600px;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text {
    padding: 0 10%;
}

/* 고궁 소개 공통 설정 */

.about__text > p {
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
    line-height: 160%;
    font-family: 'Gowun Batang', serif;
    text-shadow: 2px 2px 2px #111;
}

.about__text > p:nth-of-type(2) {
    margin: 5px 0;
}

.about__text > p > span {
    font-size: 2.2em;
    font-family: 'Gowun Batang', serif;
}

/* 경복궁 */

.gyeongbok__text > p {
    line-height: 155%;
}

.gyeongbok__text > p:nth-of-type(3) {
    margin: 5px 0;
}

/* 창경궁 */
.changgyeong__text > p:nth-of-type(3) {
    margin: 5px 0;
}

/* 덕수궁 */
.deoksu__text > p:nth-of-type(3) {
    margin: 5px 0;
}

/* 최대너비 있는 콘텐츠 */
.wrap__maxwidth-2 {
    max-width: 1200px;
    margin: 0 auto;
}

/* 위치 정보 */

.location {
    margin: 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__content {
    width: 50%;
    height: 500px;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.location__text > p:nth-of-type(1) {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(1) > span,
.location__text > p:nth-of-type(2) > span {
    font-size: 1.1em;
    font-weight: 800;
    margin-right: 15px;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(2) {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(3) {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 800;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(4) {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(5) {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}

.location__text > p:nth-of-type(6) {
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}

/* 지도 */

.map-container {
    width: 50%;
}

#map {
    height: 500px;
}

/* 홈페이지 및 sns */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info > h1 {
    font-size: 1.5em;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 15px;
}

.info__mobile1 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 10px;
    display: none;
}

.info__mobile2 {
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 150%;
    display: none;
}


/* 미디어 쿼리 */

/* 고궁 소개 */
@media all and (max-width: 459px) {
    .about__text > p {
        font-size: 0.8em;
    }

    .about__text > p > span {
        font-size: 1.7em;
    }
}

@media all and (min-width: 460px) and (max-width: 660px) {
    .about__text > p {
        font-size: 1em;
    }

    .about__text > p > span {
        font-size: 2em;
    }
}

/* 나머지 */
@media all and (max-width: 359px) {
    .location__content {
        width: 100%;
        height: 350px;
    }

    .location__text > p:nth-of-type(1) {
        font-size: 0.8em;
    }
    
    .location__text > p:nth-of-type(1) > span,
    .location__text > p:nth-of-type(2) > span {
        font-size: 0.9em;
    }
    
    .location__text > p:nth-of-type(2) {
        font-size: 0.8em;
    }
    
    .location__text > p:nth-of-type(3) {
        font-size: 0.8em;
    }
    
    .location__text > p:nth-of-type(4) {
        font-size: 0.8em;
    }
    
    .location__text > p:nth-of-type(5) {
        font-size: 0.8em;
    }
    
    .location__text > p:nth-of-type(6) {
        font-size: 10px;
    }

    #map {
        height: 350px;
    }

    .info >.btn-container {
        width: 200px;
    }

    .info .link-wrapper > a {
        width: 200px;
        font-size: 15px;
    }

    .info .link-wrapper > a:hover {
        width: 160px;
    }

    .info .link-wrapper > a:hover+.icon {
        right: -30%;
    }

    .info__mobile1, .info__mobile2 {
        font-size: 120%;
    }
}

@media all and (min-width: 360px) and (max-width: 479px) {
    .location__text > p:nth-of-type(1) {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(1) > span,
    .location__text > p:nth-of-type(2) > span {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(2) {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(3) {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(4) {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(5) {
        font-size: 1em;
    }
    
    .location__text > p:nth-of-type(6) {
        font-size: 0.9em;
    }

    .info__mobile1, .info__mobile2 {
        font-size: 140%;
    }
}

@media all and (min-width: 360px) and (max-width:767px) {
    .location__content {
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .map-container {
        width: 90%;
    }

    .info > h1 {
        display: none;
    }

    .info__mobile1, .info__mobile2 {
        display: block;
    }
}

@media all and (min-width: 768px) and (max-width: 900px) {
    .location__content {
        width: 60%;
    }

    .map-container {
        width: 60%;
    }
}

@media all and (min-width: 360px) and (max-width:900px) {
    .location__content {
        height: 400px;
    }
    
    #map {
        height: 400px;
    }
}

@media all and (max-width: 900px) {
    .location {
        flex-direction: column-reverse;
    }

    .map-container {
        margin-bottom: 20px;
    }
}