@charset "UTF-8";

/* 슬라이드 */

.slider__container {
    width: 100%;
    height: 600px;
    background-color: pink;
    /* 나중에 백그라운드로 이미지 넣기 */
}

.slider__content {
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* 최대너비 있는 콘텐츠 */

.wrap__maxwidth {
    max-width: 900px;
    margin: 0 auto;
}

/* 달력 */

.calendar__container {
    height: 740px;
    /* 달력 크기는 900 x 736.14 */
    padding: 80px 0 40px 0;
}

/* 알림판 */

.notice__container {
    height: 250px;
    border: 10px solid #e16350;
    box-sizing: border-box;
}

.notice__content {
    box-sizing: border-box;
    border: 10px solid #5dc19b;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comming-soon {
    text-align: center;
}

.comming-soon > h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Noto Serif KR', serif;
}

.comming-soon > p {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Noto Serif KR', serif;
}

.comming-soon > p {
    margin-bottom: 5px;
}

/* 상설 행사 안내 */

.all-time__container {
    /* height: 300px; */
    margin-top: 60px;
}

.all-time__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-time__content > p:first-of-type {
    align-self: flex-start;
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 30px 0 30px 20px;
}

.all-time__content > p:last-of-type {
    align-self: flex-end;
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 0 20px 30px 0;
}

.all-time__content > h6 {
    font-weight: 400;
    margin: 15px 0 30px 0;
}

/* 상설행사 버튼 */

.all-time__btn {
    background-color: #dcccac;
    margin-bottom: 70px;
}

/* 미디어 쿼리 */

@media all and (max-width: 329px) {

    /* 달력 */
    .fc-header-toolbar>.fc-toolbar-chunk:first-of-type>button {
        display: none;
    }

    /* .fc-header-toolbar > .fc-toolbar-chunk:last-of-type > .fc-button-group > button:first-child {
        display: none;
        달력 버튼 안 보이게 하는 설정
    } */
}

@media all and (max-width: 767px) {

    /* 슬라이드 */
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }

    .swiper-pagination {
        display: none;
    }

    /* 달력 */
    .fc-toolbar.fc-header-toolbar {
        font-size: 60%;
    }

    .fc-daygrid-day-top,
    .fc-event-title {
        font-size: 60%;
    }


}

@media all and (max-width: 889px) {

    /* 달력 배경이벤트 텍스트 */
    .fc-bg-event .fc-event-title {
        display: none;
    }
}